<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>elections person</title>
	<meta charset="utf-8">
	<meta name=viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<table class="table table-striped">
			<thead>
			<tr>
				<td><B>name</B></td>
				<td><B>introduction</B></td>
				<td><B>area</B></td>
				<td><B>number</B></td>
			</tr>
			</thead>
			<tbody>
			{% for candidate in candidates %}
			<tr>
				<td> {{ candidate.name }} </td>
				<td> {{ candidate.introduction }} </td>
				<td> {{ candidate.area }} </td>
				<td> Number {{ candidate.party_number }} </td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
</body>

